@model ButtonGrid.Models.ButtonModel

@{
    string[] imageNames = { "blue-button.png", "red-button.png", "green-button.png", "yellow-button.png" };
    bool allMatch = true;
}

<button class="game-button" type="submit" value="@Model.Id" name="buttonNumber" asp-controller="Button" asp-action="HandleButtonClick">
    <img class="game-button-image" src="~/img/@imageNames[Model.ButtonState]"/>
    <div class="button-label">
        @Model.Id
        ,
        @Model.ButtonState
    </div>
</button>