@model AppointmentMaker.Models.AppointmentModel

<div>
    <h4>Sorry you didn't meet the requirements</h4>
    <hr />
    <p>Unfornatly the $@Model.PatientNetWorth Net Worth and @Model.PainLevel Pain level didn't meet the requirements to setup an appointment</p>
   
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
